h2, h3, h4, h5, h6 {
  color: #2E2D29;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 0.5625em 0;
}

body{
  color: #4D4F53;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.75em;
  margin: 0;
}

.full_font{
  margin: 0;
  font-size: 22px;
}

.mid_font{
  font-size: 18px;
}

.small_font{
  font-size: 14px;
}

ul{
  padding:0;
  padding-bottom: 50px;
}
li{
  padding-left: 3px;
}


/* 왼쪽 메뉴바 */
.admin_button{
  padding: 0;
  border: none;
  background: none;
}

.icons{
  text-align: center;
  margin:auto;
  padding:0px;
}
.fa{
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  padding: 2px;
  color: white;
}
.clicked{
  background-color: white;
  color: #10773b;
  text-shadow: 0.3px 0.3px 0.3px #10773b;
}

header{
  text-align: center;
  padding-top: 50px;
}
#nav{
  height: 50%;
  text-align: center;
}
#menu{
  background-color: #8C1515;
  color: white;
  float: left;
  height: 100%;
  width: 18em;
  position: fixed;
  overflow: hidden;
}
#menu li{
  line-height: 2.7em;
  height: 2.7em;
  padding-top: 5px;
  list-style: none;
  size:18px;
  cursor: pointer;
}
#menu_image{
  width: 150px;
  border-radius: 70%;
}
/***************/

/* modal 창 */
#fileButton{
  width:auto;
}
#uploader{
  appearance: none;
  width: 100%;
  margin-bottom: 10px;
}
.hidden_admin__content{
  display: none;
}

.admin__content{
  padding: 20px;
}

.close_modal_btn{
  position: relative;
  top:10px;
}

input{
  width: 30px;
  border-radius: 5px;
}
.modal{
  position : fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.modal__overlay{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal__content{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  position: relative;
  width: 30%;
  height: 50%;
  top: 0px;
}

.hidden__modal{
  display: none;
}
/****************/






/* 오른쪽 메인화면 */
#timeline .year li{
  list-style: inside;
  list-style-type: "-";
  position: inherit;
}
#timeline .year{
  margin-bottom: 2.2em;
}
#timeline{
  position: relative;
  margin-top: 5rem;
}
.year section ul:first-of-type::after{
  content: ' ';
  width: 10px;
  height: 10px;
  background-color: #c5c5c5;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 2.9em;
  border: 2px solid #ffffff;
}
.year section{
  margin-bottom: 3rem;
  position: relative;
}
.year h3{
  font-weight: 450;
  border-right: medium outset #ecf0f1;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  float: left;
  
}
.intern{
  color: #8C1515;
}
.year h4, h5{
  font-weight: 450;
  line-height: 1em;
}

.year ul{
  margin: 0;
  padding-bottom: 0;
}

.onmous_a{
  color: #0f612b !important;
  font-weight: 700  !important;
  border-bottom: none !important;
}

.a_tag{
  color: #8C1515;
  text-decoration: none;
  border-bottom: solid 1px #7f8c8d;
}

.resume_button{
  background-color: #8C1515;
  border: #8C1515;
  cursor: pointer;
  color: white;
  font-size: 0.9em;
  padding: 0.7em;
  padding-left: 1.4em;
  padding-right: 1.4em;
  border-radius: 0.5em;
  text-decoration: none;  
}

.banner_text{
  font-size: 40;
  color: #8C1515;
}

.full_banner{
  max-width: 100%;
  height: auto;
}
.FULLwrapper{
  padding-left: 18em;
  height: 100%;
  max-width: 100%;
}

.EXITwrapper{
  padding-left: 1em;
}

.container{
  padding-top: 34px;
  margin:0 auto;
  width: 45em;
}

.page{
  border-top: solid 6px #faf4f4;
  background-color: white;
  height: auto;
}

/****************/