h2, h3, h4, h5, h6 {
  color: #2E2D29;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 0.5625em 0;
}

body{
  color: #4D4F53;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.75em;
  margin: 0;
}

.full_font{
  margin: 0;
  font-size: 22px;
}

.mid_font{
  font-size: 18px;
}

.small_font{
  font-size: 14px;
}

ul{
  padding:0;
  padding-bottom: 50px;
}
li{
  padding-left: 3px;
}

/* 왼쪽 메뉴바 */
.clicked{
  background-color: white;
  color: #10773b;
  text-shadow: 0.3px 0.3px 0.3px #10773b;
}

header{
  text-align: center;
  padding-top: 50px;
}
#nav{
  text-align: center;
}
#menu{
  background-color: #8C1515;
  color: white;
  float: left;
  height: 100%;
  width: 18em;
  position: fixed;
  overflow: hidden;
}
#menu li{
  line-height: 2.7em;
  height: 2.7em;
  padding-top: 5px;
  list-style: none;
  size:18px;
  cursor: pointer;
}
#menu_image{
  width: 150px;
  border-radius: 70%;
}
/***************/





/* 오른쪽 메인화면 */
#timeline .year li{
  list-style: inside;
  list-style-type: "-";
  position: inherit;
}
#timeline .year{
  margin-bottom: 2.2em;
}
#timeline{
  position: relative;
  margin-top: 5rem;
}
.year section{
  margin-bottom: 3rem;
}
.year h3{
  padding-right: 1.2em;
  float: left;
}
.year h4, h5{
  font-weight: 450;
  line-height: 1em;
  padding-bottom: 1.2em;
  margin: 0;
}

.year ul{
  margin: 0;
}

.a_tag{
  color: #8C1515;
  text-decoration: none;
}

.resume_button{
  background-color: #8C1515;
  border: #8C1515;
  cursor: pointer;
  color: white;
  font-size: 0.9em;
  padding: 0.7em;
  padding-left: 1.4em;
  padding-right: 1.4em;
  border-radius: 0.5em;
  text-decoration: none;
  
}

.banner_text{
  font-size: 40;
  color: #8C1515;
}

.full_banner{
  max-width: 100%;
  height: auto;
}
.FULLwrapper{
  padding-left: 18em;
  height: 100%;
  max-width: 100%;
}

.EXITwrapper{
  padding-left: 1em;
}

.container{
  padding-top: 34px;
  margin:0 auto;
  width: 45em;
}

.page{
  border-top: solid 6px #faf4f4;
  background-color: white;
  height: auto;
}

/****************/